@import './variables';
@import './base';
#content {
  width: 100%;
  padding: 15px;
  margin-left: auto;
  margin-right: auto;
  @each $size, $width in $breakpoints {
    @include media-breakpoint($size) {
      max-width: map-get($max-width, $size);
    }
  }
}
#nav,
#footer,
#content > div:not(#portal_row_container) {
  @import '~normalize.css';
  @import './slate';
  @import '~bootstrap/scss/functions';
  @import '~bootstrap/scss/variables';
  @import '~bootstrap/scss/mixins';
  @import '~bootstrap/scss/root';
  @import '~bootstrap/scss/popover';
  @import '~bootstrap/scss/grid';
  @import '~bootstrap/scss/utilities';
  @import '~bootstrap/scss/utilities/api';
}
